.gamers {
    width: 100%;
    overflow: auto;

    overflow: hidden; /* Completely hides overflow */
    overflow-y: scroll; /* Allows scrolling without showing the scrollbar */
    scrollbar-width: none; /* For Firefox */
}

.gamers::-webkit-scrollbar { 
    display: none; /* For Chrome, Safari, and newer versions of Edge */
}

.gamer-item {
    background-color: rgba(225, 245, 254, 1);
    border-radius: 16px;
    min-height: 64px;
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 4px;
}

.gamer-avatar {
    height: 48px;
    width: 48px;
    background-color: rgba(3, 169, 244, 1);
    border-radius: 24px;
    margin-left: 12px;
    margin-right: 12px;
}